# ─── Node / Backend ─────────────────────────────────────────
node_modules/
.env
package-lock.json
yarn.lock

# ─── Logi ───────────────────────────────────────────────────
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# ─── Test / Coverage ────────────────────────────────────────
coverage/
.nyc_output/

# ─── Systemowe / IDE ────────────────────────────────────────
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# ─── Inne ───────────────────────────────────────────────────
*.bak
*.tmp
